* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* container */
.container {
    display: grid;
    gap: 10px;
}

/* Header */
.header {
    display: grid;
    grid-template-areas: 
        'banner banner feature-1'
        'banner banner feature-2';
}

.banner {
    grid-area: banner;
    min-height: 350px;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.banner > * {
    display: none;
}

.feature {
    background-color: black;
    color: white;
    display: grid;
  /*  justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(img/logo.png);
    background-size: cover;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(img/model.jpg);
    background-size: cover;
}

.feature .price {
    font-size: 3em;
    font-weight: 200;
}


/* navigation */
.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand {
    font-size: 1.5em;
    color: white;
}

.menu ul {
    list-style: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    /* background-color: black; */
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input {
    display: block;
    position: absolute;
    background-color: black;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

/* hamburger.menu.point */
.menu-toggle span:nth-child(2) {
    transform-origin: 0.0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* responsive breakpoint */
@media (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }
    .menu .brand {
        display: none;
    }

    .banner > * {
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgb(170, 71,  176);
        width: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        transform: translateX(100%);
        opacity: 0;
        transition: all 1s;
    }
}
@media (max-width: 600px) {
   .header {
    grid-template-areas: 
    'banner'
    'feature-1'
    'feature-2' ;
   } 
}

























